*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red !important; */
}

body{
    text-align: center;
    color: white;
    background-color: brown;
    font-size: calc(1px, 1vw, 3rem);
}

#rootDiv{
    height: 100dvh;
    background-color: rgb(190, 255, 190);
    position: relative;
}

.smallRec{
    position: absolute;
    aspect-ratio: 2/1;
    background-color: brown;
    display: grid;
    align-items: center;
    justify-items: center;
}

#safeRect{
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    translate: -100%;
    width: 5%;
    background-color: blueviolet;
}

.bubble{
    width: 1%;
    position: absolute;
    aspect-ratio: 1/1;
    background-color: blue;
    border-radius: 50%;
    translate: -50% -50%;
}

.boxNumber{
    /* height: 100%; */
}

@keyframes rumbleBubble {
    0% {translate: 0% 0%;}
    25% {translate: 10% 10%;}
    50% {translate: -10% 10%;}
    75% {translate: 10% -10%;}
    85% {translate: -10% -10%;}
    95% {translate: 20% 20%;}
    100% {translate: -30% -30%;}
    
}
#myTest{
    background-color: brown;
    aspect-ratio: 1/1;
    position: absolute;
    width: 2rem;
    top: 0;
    left: 2rem;
}