*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid red !important;
}

body {
    overflow-x: hidden;
}
.workingDiv{
    height: 395px;
    overflow: hidden;
}

.mainH1{
    cursor: pointer;
}
@keyframes shake {
    to { transform: translateX(10%) }
}