*, *::before, *::after{
    border: 1px solid red !important;
}

.workingDiv{
    min-height: 450px;
    overflow-x: hidden;
}

.mainH1{
    cursor: pointer;
}
@keyframes shake {
    to { transform: translateX(10%) }
}